###############################################################################
#
# Copyright (c) 2016-2019, Lawrence Livermore National Security, LLC
# and other gtest-mpi-listener developers. See the COPYRIGHT file for details.
#
# SPDX-License-Identifier: (Apache-2.0 OR MIT)
#
###############################################################################

# Ignore the files in the build directory, except for the .gitkeep file
build/*
!build/.gitkeep
